*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #f2f2f2;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.section-text {
  text-transform: uppercase;
  color: #0F4ECA;
  padding: 6rem 0 2rem 0;
}

.section-heading-text {
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.key__icon {
  height: 40px;
  width: 40px;
}

.key__icon-text {
  color: #0F4ECA;
  font-weight: bold;
}

.nav {
  background-color: white;
}
.nav__bar {
  min-height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__branding {
  padding-left: 1rem;
}
.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}
.nav__item {
  list-style-type: none;
}
.nav__link {
  text-decoration: none;
  color: black;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
}
.nav__link:hover {
  color: #3a73c6;
}
.nav__hamburger {
  display: none;
  cursor: pointer;
  padding: 1rem;
}
.nav__hamburger-bar {
  display: block;
  width: 2.5rem;
  height: 0.3rem;
  margin: 0.5rem auto;
  background-color: black;
}
.nav__btn--regexbrew {
  text-decoration: none;
  background-color: #DD3665;
  color: white;
  padding: 1rem 2rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border-radius: 1rem;
}
.nav__btn--regexbrew:hover {
  background-color: #E45E84;
}
.nav__btn--login {
  text-decoration: none;
  background-color: #0F4ECA;
  color: white;
  padding: 1rem 3.8rem;
  margin-left: -0.4rem;
  margin-right: 2rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border-radius: 1rem;
}
.nav__btn--login:hover {
  background-color: #3F71D5;
}

.hero {
  background-color: #f6f7fc;
}
.hero__body {
  max-width: 50rem;
  padding-top: 6rem;
  text-align: center;
  margin: auto auto -6rem;
}
.hero__text {
  padding: 0 1rem;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 4.4rem;
  letter-spacing: 0.1rem;
  font-family: "Poppins", sans-serif;
}
.hero__btns {
  margin-top: 4rem;
}
.hero__btn {
  text-decoration: none;
  border-radius: 10px;
  padding: 1rem 2rem;
}
.hero__btn--getstarted {
  background-color: #0F4ECA;
  color: white;
  margin-right: 0.5rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.hero__btn--getstarted:hover {
  background-color: #3F71D5;
}
.hero__btn--lernmore {
  background-color: white;
  color: #0F4ECA;
  border: 1px solid #0F4ECA;
  margin-left: 0.5rem;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.hero__btn--lernmore:hover {
  background-color: #3F71D5;
  color: white;
}
.hero__img {
  margin: 5rem auto 0;
  background-image: url(../img/topimageS.png);
  width: 30rem;
  height: 30rem;
  background-size: 100%;
  background-repeat: no-repeat;
}
.hero__below {
  background-color: #0F4ECA;
  padding-bottom: 4rem;
}
.hero__below-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem 0;
}
.hero__below-logo-img {
  height: 8rem;
  width: 8rem;
}
.hero__below-box-text {
  padding: 0 1rem 0 2.6rem;
  color: white;
}
.hero__below-box-text-heading {
  font-weight: bold;
  margin-bottom: 4rem;
}
.hero__below-box-text-list li {
  margin: 2rem 0;
}

.key {
  padding-bottom: 5rem;
}
.key__heading {
  text-align: center;
}
.key__block {
  padding: 2rem 3rem;
}
.key__block--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.key__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.key__icon {
  margin-right: 1rem;
  padding: 0.5rem;
}
.key__icon-text {
  font-weight: bold;
  font-size: 1.6rem;
}
.key__info {
  padding: 2rem 0;
  line-height: 150%;
}
.key__img {
  text-align: center;
  padding: 2rem 0;
}

.info {
  background-color: #f3f5fb;
  padding-bottom: 5rem;
}
.info__heading {
  text-align: center;
  padding: 0 3rem;
}
.info__text {
  margin: 0 auto;
  max-width: 65rem;
  line-height: 150%;
}
.info__cards {
  padding: 2rem 3rem;
  text-align: center;
}
.info__card {
  text-align: center;
  margin: 2rem auto;
  background-color: white;
  width: 200px;
  height: 260px;
  border-radius: 10px;
}
.info__card-icon {
  padding-top: 3rem;
}
.info__card-text {
  font-weight: bold;
  font-size: 2rem;
  padding: 2rem 0 3rem 0;
}
.info__btn {
  border-radius: 10px;
  padding: 1rem 2rem;
  color: white;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
}
.info__btn--blue {
  background-color: #3a73c6;
}
.info__btn--blue:hover {
  background-color: #618fd1;
}
.info__btn--orange {
  background-color: #f09a09;
}
.info__btn--orange:hover {
  background-color: #f3af3a;
}

.advanced {
  padding: 4rem 2rem;
  background-color: #f2f2f2;
}
.advanced__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advanced__card {
  margin: 2rem 0;
  padding: 1rem 0;
  max-width: 400px;
}
.advanced__card--three {
  margin-bottom: 0;
}
.advanced__main-text {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin: 3rem 0;
  text-align: center;
}
.advanced__heading-text {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 1rem 0;
}
.advanced__info-text {
  line-height: 150%;
}

.slider {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0F4ECA;
  padding-bottom: 3rem;
}
.slider .section-text,
.slider .section-heading-text {
  color: #ffffff;
  text-align: center;
}
.slider__body {
  overflow: hidden;
}
.slider__cointaner {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.slider__slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  background-color: rgb(223, 221, 221);
  -webkit-filter: blur(4px);
          filter: blur(4px);
  border-radius: 10px;
}
.slider .swiper-slide-active {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  background-color: #fff;
  -webkit-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
}
.slider__box {
  position: relative;
  width: 100%;
  padding: 40px;
  padding-top: 60px;
}
.slider__quote {
  position: absolute;
  top: 20px;
  right: 30px;
  opacity: 0.6;
}
.slider__opinion {
  color: rgb(132, 130, 130);
  height: 220px;
}
.slider__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.slider__img {
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  overflow: hidden;
  margin-top: 10px;
}
.slider__img--face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider__coment {
  margin-left: 10px;
}
.slider__coment h3 {
  font-size: 16px;
  color: #3a73c6;
}
.slider__coment p {
  font-size: 14px;
  color: rgb(132, 130, 130);
}

.footer {
  background-color: #ffffff;
  padding: 0 2rem;
}
.footer__logo {
  text-align: center;
  padding: 2rem 0;
}
.footer__logo-text {
  color: rgb(132, 130, 130);
  padding: 0.5rem 0;
  font-size: 1.4rem;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 3rem 0;
}
.footer__links a {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.footer__links a:hover {
  color: #0F4ECA;
}
.footer__dot {
  height: 0.4rem;
  width: 0.4rem;
  background-color: black;
  border-radius: 5rem;
  font-size: 1.4rem;
  margin: auto 0.5rem;
}
.footer__link {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
}
.footer__create {
  text-align: center;
  font-size: 1rem;
}
.footer__create--person {
  padding: 0.5rem 0 3rem 0;
}
.footer__create a {
  text-decoration: none;
  color: black;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.footer__create a:hover {
  color: #0F4ECA;
}

.error {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.error__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 576px) {
  .section-heading-text {
    font-size: 2.4rem;
  }
  .hero__text {
    font-size: 2.4rem;
  }
  .hero__img {
    width: 35rem;
    height: 35rem;
  }
  .hero__below-logo-img {
    height: 10rem;
    width: 10rem;
  }
  .hero__below-box-text {
    padding-left: 4rem;
  }
  .info__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 600px;
    margin: 0 auto;
  }
  .advanced__main-text {
    font-size: 2.2rem;
  }
  .footer__create {
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) {
  .section-heading-text {
    font-size: 2.6rem;
  }
  .hero__text {
    font-size: 2.6rem;
  }
  .hero__img {
    width: 400px;
    height: 400px;
  }
  .hero__below-logo-img {
    height: 12rem;
    width: 12rem;
  }
  .advanced__main-text {
    font-size: 2.4rem;
  }
}
@media (min-width: 992px) {
  .section-heading-text {
    font-size: 2.8rem;
  }
  .hero__card {
    max-width: 45rem;
    text-align: left;
    padding-bottom: 4rem;
  }
  .hero__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .hero__body {
    max-width: none;
    padding-top: 0;
    margin: auto;
  }
  .hero__btns {
    margin-left: 1rem;
  }
  .hero__img {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    width: 500px;
    height: 500px;
    background-image: url(../img/topimageX.png);
  }
  .hero__text {
    font-size: 2.8rem;
  }
  .hero__below-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 10rem 0 5rem 0;
  }
  .hero__below-logo {
    padding: 0 3em;
  }
  .key__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5rem 0 5rem 0;
  }
  .key__block--left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .key__card {
    text-align: right;
    padding: 0 2rem;
  }
  .key__card--left {
    text-align: left;
  }
  .key__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .key__text--left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .key__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .key__img {
    padding: 0 2rem;
  }
  .key__icon--right {
    margin: 0 0 0 1rem;
  }
  .info__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 5rem;
  }
  .info__heading {
    max-width: 60rem;
    text-align: left;
  }
  .info .section-text {
    padding-top: 0;
  }
  .info__cards {
    margin-right: 0;
    padding-right: 0;
  }
  .info__card {
    margin: 30px;
  }
  .advanced__card {
    max-width: 29rem;
    margin: 20px;
  }
  .advanced__card--one {
    margin-left: 0;
  }
  .advanced__card--three {
    margin-right: 0;
  }
  .advanced__first-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .advanced__second-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .advanced__main-text {
    font-size: 2.4rem;
  }
  .footer {
    padding: 0;
  }
  .footer__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2rem 1rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
  .footer__links {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1rem 0 0;
  }
  .footer__logo-text {
    padding: 0 1rem;
    margin: auto 0;
  }
}
@media (min-width: 1200px) {
  .section-heading-text {
    font-size: 3rem;
  }
  .hero__info {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .hero__img {
    width: 600px;
    height: 600px;
  }
  .hero__text {
    font-size: 3.2rem;
  }
  .advanced__card {
    max-width: 36rem;
  }
  .advanced__main-text {
    font-size: 2.6rem;
  }
}
@media (max-width: 992px) {
  .nav__hamburger {
    display: block;
    margin-right: 1rem;
  }
  .nav__menu {
    position: fixed;
    left: -100%;
    top: 7rem;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: #fff;
  }
  .nav__item {
    margin: 16px 0;
  }
  .nav__menu.active {
    left: 0;
  }
  .nav__hamburger.active .nav__hamburger-bar:nth-child(2) {
    opacity: 0;
  }
  .nav__hamburger.active .nav__hamburger-bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .nav__hamburger.active .nav__hamburger-bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .nav__btn--login {
    margin: 0;
  }
}/*# sourceMappingURL=main.css.map */