@use "./colors" as *;
@use "./components" as *;
@use "./min" as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	background-color: #f2f2f2;
	font-family: "Lato", sans-serif;
	font-size: 1.6rem;
	// font-family: "Poppins", sans-serif;
}
.section-text {
	text-transform: uppercase;
	color: $blue;
	padding: 6rem 0 2rem 0;
}
.section-heading-text {
	font-family: "Poppins", sans-serif;
	font-size: 2.2rem;
}

.key__icon {
	height: 40px;
	width: 40px;
}
.key__icon-text {
	color: $blue;
	font-weight: bold;
}

.nav {
	background-color: #ffffff;
	&__items {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		background-image: url(../img/opsbrewX.png);
		height: 4rem;
		width: 15rem;
		background-size: 100%;
		background-repeat: no-repeat;
		margin-left: 1rem;
	}

	&__link,
	&__btn {
		text-decoration: none;
		margin: 0 1rem;
		color: black;
	}

	&__btn--regexbrew {
		background-color: $amarant;
		color: $white;
		padding: 1rem 2rem;
		transition: background-color 0.3s;
		border-radius: 1rem;

		&:hover {
			background-color: $amarant-hover;
		}
	}

	&__btn--login {
		background-color: $blue;
		color: $white;
		padding: 1rem 3.5rem;
		margin-left: -0.4rem;
		margin-right: 2rem;
		transition: background-color 0.3s;
		border-radius: 1rem;

		&:hover {
			background-color: $blue-hover;
		}
	}

	&__bars {
		padding: 1rem 1.5rem;
		font-size: 3rem;
		background: none;
		border: none;
		cursor: pointer;
		transition: color 0.3s;

		&:hover {
			color: $blue;
		}
	}

	&__links {
		display: none;
	}
}

.hero {
	background-color: #f6f7fc;
	// display: none;

	&__body {
		max-width: 50rem;
		padding-top: 6rem;
		text-align: center;
		margin: auto auto -6rem;
	}

	&__text {
		padding: 0 1rem;
		font-size: 2.2rem;
		font-weight: bold;
		line-height: 4.4rem;
		letter-spacing: 0.1rem;
		font-family: "Poppins", sans-serif;
	}

	&__btns {
		margin-top: 4rem;
	}
	&__btn {
		text-decoration: none;
		border-radius: 10px;
		padding: 1rem 2rem;

		&--getstarted {
			background-color: $blue;
			color: $white;
			margin-right: 0.5rem;
			transition: background-color 0.3s;

			&:hover {
				background-color: $blue-hover;
			}
		}

		&--lernmore {
			background-color: $white;
			color: $blue;
			border: 1px solid $blue;
			margin-left: 0.5rem;
			transition: background-color 0.3s, color 0.3s;

			&:hover {
				background-color: $blue-hover;
				color: $white;
			}
		}
	}

	&__img {
		margin: 5rem auto 0;
		background-image: url(../img/topimageS.png);
		width: 30rem;
		height: 30rem;
		background-size: 100%;
		background-repeat: no-repeat;
	}

	&__below {
		background-color: $blue;
		padding-bottom: 4rem;

		&-logo {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 5rem 0;

			&-img {
				height: 8rem;
				width: 8rem;
			}
		}
	}

	&__below-box-text {
		padding: 0 1rem 0 2.6rem;
		color: $white;

		&-heading {
			font-weight: bold;
			margin-bottom: 4rem;
		}

		&-list li {
			margin: 2rem 0;
		}
	}
}

.key {
	// display: none;
	padding-bottom: 5rem;

	.section-heading-text {
		margin-bottom: 2rem;
	}

	&__heading {
		text-align: center;
	}

	&__block {
		padding: 2rem 3rem;
		&--left {
			display: flex;
			flex-direction: column-reverse;
		}
	}

	&__text {
		display: flex;
		align-items: center;
		text-align: center;
	}

	&__icon {
		margin-right: 1rem;
		padding: 0.5rem;
	}
	&__icon-text {
		font-weight: bold;
		font-size: 1.6rem;
	}

	&__info {
		padding: 2rem 0;
	}

	&__img {
		text-align: center;
		padding: 2rem 0;
	}
	
}


// MEDIA

@media (min-width: 576px) {
	.hero {
		&__text {
			font-size: 2.4rem;
		}

		&__img {
			width: 35rem;
			height: 35rem;
		}

		&__below {
			&-logo-img {
				height: 10rem;
				width: 10rem;
			}

			&-box-text {
				padding-left: 4rem;
			}
		}
	}
	.key {
		.section-heading-text {
			font-size: 2.4rem;
		}
	}
}

@media (min-width: 768px) {
	.hero {
		&__text {
			font-size: 2.6rem;
		}

		&__img {
			width: 400px;
			height: 400px;
		}

		&__below {
			&-logo-img {
				height: 12rem;
				width: 12rem;
			}
		}
	}

	.key {
		.section-heading-text {
			font-size: 2.6rem;
		}
	}
}

@media (min-width: 992px) {
	.nav {
		&__bars {
			display: none;
		}
		&__links {
			display: block;
			padding: 2rem 0rem;
		}
	}

	.hero {
		&__card {
			max-width: 45rem;
			text-align: left;
			padding-bottom: 4rem;
		}

		&__info {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			padding: 0;
		}
		&__body {
			max-width: none;
			padding-top: 0;
			margin: auto;
		}

		&__img {
			background-position: center;
			background-size: 100%;
			background-repeat: no-repeat;
			margin: 0;
			width: 500px;
			height: 500px;
			background-image: url(../img/topimageX.png);
		}

		&__text {
			font-size: 2.8rem;
		}

		&__below-box {
			display: flex;
			justify-content: space-evenly;
			padding: 10rem 0 5rem 0;
		}

		&__below-logo {
			padding: 0 3em;
		}
	}

	.key {
		.section-heading-text {
			font-size: 2.8rem;
		}
		&__block {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			padding: 5rem 0 5rem 0;
			// background-color: aqua;

			&--left {
				flex-direction: row;
			}
		}
		&__card {
			text-align: right;
			// background-color: yellow;
			padding: 0 2rem;

			&--left {
				text-align: left;
			}
		}
		&__text {
			display: flex;
			flex-direction: row-reverse;
			// background: rgb(255, 0, 251);

			&--left {
				flex-direction: row;
			}
		}

		&__info {
			// background: red;
			display: flex;
			justify-content: flex-start;
		}
		&__img {
			// background-color: orange;
			padding: 0 2rem;
		}

		&__icon {
			// background-color: lime;
			&--right {
				margin: 0 0 0 1rem;
			}
		}
	}
}

@media (min-width: 1200px) {
	.hero {
		&__info {
			justify-content: space-around;
		}
		&__img {
			width: 600px;
			height: 600px;
		}

		&__text {
			font-size: 3.2rem;
		}
	}

	.key {
		.section-heading-text {
			font-size: 3rem;
		}
	}
}
