@use "./colors" as *;
@use "./components" as *;
@use "./min" as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	// background-color: rgb(183, 185, 185);
	font-family: "Lato", sans-serif;
	font-size: 1.6rem;
	// font-family: "Poppins", sans-serif;
}

.nav {
	&__items {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		background-image: url(../img/opsbrewS.png);
		height: 4rem;
		width: 15rem;
		background-size: cover;
		margin-left: 1rem;
	}

	&__link,
	&__btn {
		text-decoration: none;
		margin: 0 1rem;
		color: black;
	}

	&__btn--regexbrew {
		background-color: $amarant;
		color: $white;
		padding: 1rem 2rem;
		transition: background-color 0.3s;
		border-radius: 1rem;

		&:hover {
			background-color: $amarant-hover;
		}
	}

	&__btn--login {
		background-color: $blue;
		color: $white;
		padding: 1rem 3.5rem;
		margin-left: -0.4rem;
		margin-right: 2rem;
		transition: background-color 0.3s;
		border-radius: 1rem;

		&:hover {
			background-color: $blue-hover;
		}
	}

	&__bars {
		padding: 1rem 1.5rem;
		font-size: 3rem;
		background: none;
		border: none;
		cursor: pointer;
		transition: color 0.3s;

		&:hover {
			color: $blue;
		}
	}

	&__links {
		display: none;
	}
}

.top {
	// background-color: #f6f7fc;
    background-color: yellow;

	&__body {
		max-width: 50rem;
		padding-top: 6rem;
		text-align: center;
		margin: auto;
	}

	&__text {
		padding: 0 1rem;
		font-size: 2.2rem;
		font-weight: bold;
		line-height: 4.4rem;
        // background-color: blue;
	}

	&__btns {
		margin-top: 4rem;
	}
	&__btn {
		text-decoration: none;
		border-radius: 10px;
		padding: 1rem 2rem;

		&--getstarted {
			background-color: $blue;
			color: $white;
			margin-right: 0.5rem;

			&:hover {
				background-color: $blue-hover;
			}
		}

		&--lernmore {
			background-color: $white;
			color: $blue;
			border: 1px solid $blue;
			margin-left: 0.5rem;

			&:hover {
				background-color: $blue-hover;
				color: $white;
			}
		}
	}

	&__img {
		margin: 5rem auto 0;
		background-image: url(../img/topimageS.png);
		width: 300px;
		height: 300px;
		background-size: 100%;
		background-repeat: no-repeat;
	}
}

// MEDIA

@media (min-width: 576px) {
	.top {

		&__text {
			font-size: 2.4rem;
		}

		&__img {
			width: 350px;
			height: 350px;
		}
	}
}

@media (min-width: 768px) {
    .top {

		&__text {
			font-size: 2.6rem;
		}

		&__img {
			width: 400px;
			height: 400px;
		}
	}
}

@media (min-width: 992px) {
	.nav {

		&__bars {
			display: none;
		}
		&__links {
			display: block;
			padding: 2rem 0rem;
		}
	}

    .top {
        

        &__card {
            background-color: red;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__info {
            display: flex;
            background-color: aqua;
            justify-content: center;
        }
        &__body {
            max-width: none;
        }

    }
}

@media (min-width: 1200px) {
}
